.main{
    /* display: flex;
    align-items: center;
    justify-content: center; */
    text-align: center;
}
.table{
    /* display: flex;
    align-items: center; */
    justify-content: center;
    text-align: center;
    background-color: #f7fcf0;
    
}
.table1{
    /* display: flex;
    align-items: center; */
    justify-content: center;
    text-align: center;
    background-color: white;
}