.main{
    /* display: flex;
    align-items: center;
    justify-content: center; */
    text-align: center;
}
.table{
    /* display: flex;
    align-items: center; */
    justify-content: center;
    text-align: center;
}